version: '3.4'

services:
    mongodb:
        image: mongo:${MONGO_VERSION:-3.4.10}
        networks:
            - bshm_net
        ports:
            - "27017:27017"
        volumes:
            - data:/data/db
        restart: always

networks:
    bshm_net:
        external: true

volumes:
    data:
